/CopyFile.class
/CreateDirStructure.class
/Environment.class
/applicationTest.class
/CopyDirData.class
/CreateMasterTrail.class
/GenerateTestArtefacts.class
/InputData.class
/RegressionTest.class
/RegressionTestSet.class
/RunMultiTest.class
